<?xml version="1.0" encoding="UTF-8"?>

	
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
     http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:component-scan base-package="com.springapp"/>
	 <tx:annotation-driven/>
	 <mvc:annotation-driven/>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		name="viewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

 
<!-- data Source -->
 <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost:3306/spring_ecommerce" />
    <property name="username" value="root" />
    <property name="password" value="root" />
</bean>

<!-- bean Factory -->
 <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="factory">
 	<property name="dataSource" ref="dataSource"/>
<!-- hibernate Properties --> 	
 	<property name="hibernateProperties">
 		<props>
 			<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
 			<prop key="hibernate.show_sql">true</prop>
 			<prop key="hibernate.hbm2ddl.auto">update</prop>
 		</props>
 	</property>
<!-- annotatedClasses -->	
 	<property name="annotatedClasses">
 		<list>
 			<value>com.springapp.entity.User</value>
 			<value>com.springapp.entity.Product</value>
 			<value>com.springapp.entity.UserCart</value>
 			<value>com.springapp.entity.UserOrders</value>
 		</list>
 	</property>
 </bean>
 <!-- hibernate Template -->
 <bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemplet">
 	<property name="sessionFactory" ref="factory"/>
 </bean>

 <!-- Transaction -->
 <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
 	<property name="sessionFactory" ref="factory"/>
 </bean>
 
 
</beans>

