<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:c="http://www.springframework.org/schema/c"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">
 
 <tx:annotation-driven/>
 
  <!-- data Source -->
 <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost:3306/springorm" />
    <property name="username" value="root" />
    <property name="password" value="root" />
</bean>

<!-- bean Factory -->
 <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="factory">
 	<property name="dataSource" ref="dataSource"/>
<!-- hibernate Properties --> 	
 	<property name="hibernateProperties">
 		<props>
 			<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
 			<prop key="hibernate.show_sql">true</prop>
 			<prop key="hibernate.hbm2ddl.auto">update</prop>
 		</props>
 	</property>
<!-- annotatedClasses -->	
 	<property name="annotatedClasses">
 		<list>
 			<value>com.springorm.entity.Employee</value>
 		</list>
 	</property>
 </bean>
 
 <!-- hibernate Template -->
 <bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemp">
 	<property name="sessionFactory" ref="factory"/>
 </bean>
 
<!--  Employee Dao -->
<bean class="com.springorm.dao.EmployeeDao" name="employeeDao">
	<property name="hibernateTemp" ref="hibernateTemp"/>
</bean>
 
 <!-- Transaction -->
 <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
 	<property name="sessionFactory" ref="factory"/>
 </bean>
 
 
 </beans>